html, body {
  height: 100%;
  width: 100%;
}
h1{
  font-family: 'Cookie';
  color: #361b1b;
  
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}
h4{
  font-family: 'ariel';
  color: #935f15;
  
}
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
